@model BioInformatix.Models.BlastModels.BlastViewModel
@{
    ViewBag.Title = "BlastSearch";
}

<script type="text/javascript">

	function getBlastSearchResult() {
		$('body').loadingModal({	text: 'Připravují se data...'});
			var projectId = "@Model.Project.IdString";
        $.ajax({
            type: "POST",
						url: "/Blast/GetBlastSearchResult/",
						data: { projectId: projectId },
						success: function (data) {
							$('body').loadingModal('hide');
							if (data == true) {
								window.location.href('/Blast/Index/');
                } else alert("Výsledek ještě není hotov");
            }
			});
    }
</script>

<h2>Generování výstupu z programu Blast</h2>
@using (Html.BeginForm("RunBlastSearch", "Blast", FormMethod.Post))
{
    <div class="row" id="searchForm">

        @Html.HiddenFor(x => x.ProjectId)
        @foreach (KeyValuePair<string, IList<SelectListItem>> pair in Model.Parameters)
				{

            <div class="form-group">
                @Html.Label(pair.Key, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10">
                    @Html.Kendo().DropDownList().Name(pair.Key + "Param").BindTo(pair.Value).HtmlAttributes(new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

				}
        <div class="form-group">
            @Html.LabelFor(x => x.Sequence, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                <input name="Sequence" class="text-box single-line form-control" id="Sequence" type="text" value="" style="max-width:400px">
            </div>
        </div>

    </div>
    <br />
		if (!Model.IsRedirect)
		{
			<input type="submit" value="Hledej" class="btn btn-default" />
				}
			<input type='button' value='Načíst výsledek' class='btn btn-warning' onclick="getBlastSearchResult();" />
}

